---
import Page from "../layouts/Page.astro";
const testDate = new Date();
---

<Page>
  <h1 class="text-3xl font-bold">Contact</h1>
  <p>Send me a message, I will reply as soon as possible.</p>
  <p>{testDate}</p>
</Page>
