---
import Page from "../layouts/Page.astro";
---

<Page>
  <h1 class="text-3xl font-bold">Home</h1>
  <p>
    My goal is to develop my skills into a Full-stack Developer. I like to take
    on new challenges and expand my own knowledge of webdev. I’m currently
    working on <a href="https://desk3d.pl/" target="_blank">Desk3D.</a>
  </p>
</Page>
